vrrp_instance VI_1 {
    state {{ state }}
    interface {{ interface }}
    virtual_router_id {{ router_id }}
    priority {{ priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ auth_pass }}
    }
    unicast_src_ip {{ hostvars[inventory_hostname]['ansible_host'] }}
    unicast_peer {
{% for host in groups[keepalived_group] if host != inventory_hostname %}
        {{ hostvars[host]['ansible_host'] }}
{% endfor %}
    }
    virtual_ipaddress {
        {{ vip }}
    }
}
