worker_processes auto;

events {
    worker_connections 1024;
}

stream {
    {% for svc in nginx_tcp_services %}
    upstream backend_{{ svc.listen_port }} {
        {% if svc.backend_group is defined %}
            {% for host in groups[svc.backend_group] %}
        server {{ hostvars[host].ansible_host | default(host) }}:{{ svc.dest_port }};
            {% endfor %}
        {% else %}
        server 127.0.0.1:{{ svc.dest_port }};
        {% endif %}
    }

    server {
        listen {{ svc.listen_port }};
        proxy_pass backend_{{ svc.listen_port }};
    }
    {% endfor %}
}
